<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${client.id} == 0 ? 'Create client' : 'Edit client'">New Client:</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" th:action="@{/client/save}" th:method="post" accept-charset="utf-8">
    <h1 th:text="${client.id} == 0 ? 'New client:' : ${client.name}">New Client:</h1>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" th:value="${client.name}" value="John Doe"/>
        <input id="id-input" name="id" type="text" th:value="${client.id}" value="0" hidden="hidden"/>
        <br/>
        <label for="password-input">Password:</label>
        <input id="password-input" name="password" type="password" th:value="${client.password}" value="*******"/>
    </div>

    <div class="row">
        <label for="client-address-input">Address:</label>
        <input id="client-address-input" name="addressDataSet" type="text" th:value="${addressDataSet.street}" value="Address"/>
        <input id="address-id-input" name="id" type="text" th:value="${addressDataSet.id}" value="0" hidden="hidden"/>
    </div>

    <table class="phones row">
        <thead>
        <tr>
            <th>ID</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody class="phonesBody">
            <tr th:each="phone,status : ${phones}">
                <td th:text="${status.count}">1</td>
                <td><input type="text" th:value="${phone.number}" th:name="phone + ${status.count}" value="John Doe"></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button type="button" id="add" onclick="addPhone()">Add phone</button>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
    <div class="row" th:if="${client.name}">
        <button type="submit" th:formaction="@{/client/delete}" th:formmethod="post">Delete Client</button>
    </div>
</form>

<script>
    function addPhone(){
        const phonesBody = document.querySelector(".phonesBody");
        const tr = document.createElement("tr");
        const tdNumber = document.createElement("td");
        tdNumber.innerText = phonesBody.childElementCount + 1;
        const tdPhone = document.createElement("td");
        const field = document.createElement("input");
        field.type="text";
        field.name = "phone" + tdNumber.innerText;
        tdPhone.appendChild(field);
        tr.appendChild(tdNumber);
        tr.appendChild(tdPhone);
        phonesBody.appendChild(tr);
    }
</script>
</body>
</html>
