<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Clients</title>
</head>

<body>
<h4>Add Client</h4>


<div class="top">
    <img src="img/login.png">
    <br/>
    <form action="addClient" method="post">
        <label>
            name <br/>
            <input type="text" name="name">
        </label>
        <br/>
        <label>
            phone<br/>
            <input type="text" name="phone">
        </label>
        <br/><br/>
        <input type="submit" value="Add client">
    </form>
</div>

</body>
</html>
